.content__text-box{
    margin: 0 auto;
    display: block;
    flex-direction: column;
    max-width: 100%;
    width: 70%;
    color: #ffffff;
    overflow: auto;
}
.content__text-title{
    margin-top: 5%;
display: flex;
font-size: 69px;
letter-spacing: 2px;
line-height: 1;
}