.content__text-box{
    margin: 0 auto;
    display: block;
    flex-direction: column;
    max-width: 100%;
    width: 70%;
    color: #ffffff;
    overflow: auto;
}
.content__text-title{
    margin-top: 5%;
display: flex;
font-size: 69px;
letter-spacing: 2px;
line-height: 1;
}

.content__author-text{   
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    padding: 5%;
    }
@media (max-width:768px){
    .content__text-box{
        width: 95%;
    }
    .content__text-title {
        line-height: 1.5;
        margin-bottom: 1rem;
        white-space: pre-line;
    }
    .text{
        font-size: 16px;
    }
}
@media (max-width: 320px) {
    .text_title {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 1;
    }

    .text {
        font-size: 14px;
        line-height: 1.4;
        margin: 20px auto;
    }

    .content__text-box{
        width: 90%; 
        margin: 0 auto;
    }
}
