.grid__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.grid__images-container{
    display: grid;  
    grid-template-columns: repeat(4, auto);
    grid-template-rows:repeat(4, auto);
    gap: 20px;
}
