.header {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    max-width: 100%;
    overflow: hidden;
}
.header__page-name {
    color: white;
    font-size: 15px;
  
  }
.header__logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 69px;
    margin-top: 34px;
    margin: 0 auto;
}
.header__logo {
    width: 32px;
    height: 32px;
}
.header__content-image{
    display: block;
    margin: 0 auto;
    max-width:100%;
    height: auto;
    object-fit: cover   ;
    }
.header__title {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 96px;
}
.header__subtitle{
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
        width: 720px;
        height: 72px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
 color: #ffffff;   
 margin-bottom: 5%;
}
.header__word_down{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

@media (max-width:768px){
    .header__title{
     font-size: 50px;
    }
    .header__content-image{
        max-width: 100%;
        height: auto;
    }
    .header__page-name{
        font-size: 15px;
    }
    .header__subtitle{
        font-size: 20px;
    }
}
@media (max-width: 320px) {
    .header__content-image {
        max-width: 100%;
        height: auto;
    }
    .header__subtitle{
        font-size: 15px;
        max-width: 100%;
    }
}