.header {
    display: flex;
    flex-direction: column; /* Mantener los elementos en columna si es lo que buscas */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}
.header_logo {
    width: 30px;
}
.page_name {
    display: flex;
    color: white;
  
    margin: 0;
}
.header__title {
    color: white;
}
