.header {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.header_logo {
    width: 32px;
    height: 32px;
}
.header__title {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 96px;
}
.header__subtitle{
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
        width: 720px;
        height: 72px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
 color: #ffffff;   
 margin-bottom: 5%;
}

@media (max-width:768px){
    .header__title{
     font-size: 50px;
    }
    .content__image{
        width: 100%;
        
    }
    .page_name{
        font-size: 15px;
    }
    .header__subtitle{
        font-size: 20px;
    }
}
