.header__logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 69px;
    margin-top: 34px;
    margin: 0 auto;
}
