body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    padding: 20px;
}

.nfts__container {
    width:980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 5%;
    flex-wrap: wrap;
    max-width: 100%;
}

.nfts__title-container {
    text-align: left;
}

.nfts__main-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.nfts__content {
    justify-content: space-between;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.nfts__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    flex-shrink: 0;
}

.nfts__text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    flex: 1;
}

.nfts__subtitle {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    color: #d1d1d1;
}

.nfts__artist-names{
    font-size: 1.2rem;
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.nfts__text {
    line-height: 1.6;
    font-size: 1rem;
    word-wrap: break-word;
}

.nfts__button {
    align-self: flex-start;
    padding: 10px 20px;
    background: linear-gradient(90deg, #0278fe , #003a7b);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    margin-top: 10px;
}


.nfts__button:hover {
    background-color: #00152d;
}
@media (max-width:768px){
    .nfts__container{
        flex-direction: column;
        align-items: center;
    }
}