body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    padding: 20px;
}

.nfts__container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 5%;
    
}

.nfts__title-container {
    text-align: left;
}

.nfts__main-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.nfts__content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.nfts__image {
    width: 460px;
    height: 460px;
    object-fit: cover;
    border-radius: 8px;
}

.nfts__text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
}

.nfts__subtitle {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    color: #d1d1d1;
}

.nfts__artist-names{
    font-size: 1.2rem;
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.nfts__text {
    line-height: 1.6;
    font-size: 1rem;
}

.nfts__button {
    align-self: flex-start;
    padding: 10px 20px;
    background: linear-gradient(135deg, #0278FE, #003A7B);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.nfts__button:hover {
    background-color: #0278FE;
}