
.page {
  font-size: 14px;
  padding: 10px;
  background-color: rgb(27, 27, 27);
}


p, h2, h3 {
  margin: 10px 0;
  line-height: 1.5;
}


@media (min-width: 768px) {
  .page {
      font-size: 16px;
      padding: 20px;
  }

  .header__title {
      font-size: 3rem;
  }

  p, h2, h3 {
      margin: 15px 0;
      line-height: 1.6;
  }
}


@media (min-width: 1024px) {
  .page {
      font-size: 18px;
      padding: 30px;
      max-width: 80vw;
      margin: auto;
  }

  .header__title {
      font-size: 4rem;
  }

  p, h2, h3 {
      margin: 20px 0;
      line-height: 1.7;
  }
}
